.window{
	/* margin-left: 100px; */
	/* min-width: 420px; */
	padding: 0px;
	display: inline-block;
	float: left;
	/* background-color: antiquewhite; */
	height: 100%;
	max-width: 579px;
	border-right: #edf0f2 solid 1px;
}
.window .center_top{
	position: fixed;
	top: 0px;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.8);
	 -webkit-backdrop-filter: blur(10px);
	  backdrop-filter: blur(10px);
}